---
// import Image from "astro/components/Image.astro";
import MainLayout from '../layouts/MainLayout.astro';
// import reactIcon from "../assets/icons/tech-stack/react.svg";
// import profilePic from '../assets/images/profile-picture.webp'
---

<MainLayout>
  <h1>Main Title</h1>
  <!-- <Image src={reactIcon} alt="React" /> -->
  <!-- <Image src={profilePic} alt="" /> -->
</MainLayout>
