---
import { Image } from "astro:assets";
import logo from "../assets/mjm-logo.svg";
---

<header>
  <div class="wrapper">
    <Image src={logo} alt="Homepage link" />
    <nav class="primary-nav">
      <ul role="list" class="primary-nav__inner">
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <a class="flex-flow align-center" href="/src/assets/mjm-logo.svg" download>
      Resume
      <svg
        width="20"
        xmlns="http://www.w3.org/2000/svg"
        height="20"
        id="screenshot-da436653-6edb-8074-8007-79209babb61e"
        viewBox="0 0 20 20"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        fill="var(--clr-neutral-100)"
        version="1.1"
        ><g id="shape-da436653-6edb-8074-8007-79209babb61e" rx="0" ry="0"
          ><g id="shape-da436653-6edb-8074-8007-79209babb61f" style="display: none;"
            ><g class="fills" id="fills-da436653-6edb-8074-8007-79209babb61f"
              ><rect
                width="20"
                height="20"
                x="0"
                transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)"
                style="fill: none;"
                ry="0"
                fill="none"
                rx="0"
                y="0"></rect></g
            ></g
          ><g id="shape-da436653-6edb-8074-8007-79209babb620"
            ><g class="fills" id="fills-da436653-6edb-8074-8007-79209babb620"
              ><path
                d="M4.169921875,16.6640625L15.833984375,16.6640625L15.833984375,15L4.169921875,15M15.833984375,7.5L12.501953125,7.5L12.501953125,2.5L7.501953125,2.5L7.501953125,7.5L4.169921875,7.5L10,13.3359375L15.833984375,7.5Z"
              ></path></g
            ></g
          ></g
        ></svg
      >
    </a>
  </div>
</header>

<style>
  header {
    background: var(--clr-primary-900);
    position: fixed;
    z-index: 999px;
    width: 100%;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--clr-neutral-100);

    @media (width > 40em) {
      justify-content: space-between;
    }
  }

  .primary-nav__inner {
    display: flex;
    gap: 1.75rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media (width > 40em) {
      gap: 2.25rem;
    }
  }

  ul {
    margin: 0;
  }

  a {
    padding: 1rem;
  }

  a:is(:hover, :focus-visible) {
    background: var(--clr-accent-1);
    color: var(--clr-primary-900);
    transition:
      background 500ms ease,
      color 300ms ease;

    & svg {
      fill: var(--clr-neutral-900);
    }
  }
</style>
